SHELL=/bin/sh
PATH=/home/symph/.local/bin/my:/home/symph/.local/bin/my/gen:/home/symph/.local/bin/my/cron:/usr/bin:/usr/sbin:/bin:/sbin:/usr/local/bin
DISPLAY=:0
XDG_RUNTIME_DIR=/run/user/1000
XAUTHORITY=/run/user/1000/Xauthority

0 20 */4 * * gen-hosts update
0 22 * * * sleep-time
*/30 * * * * newsboat -x reload
* * * * * manager
