/* tabbrowser tabpanels { background-color: #111111 !important; }
browser { background-color: #111111 !important; } */

#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, 
browser[type=content-primary],browser[type=content] > html {
    background: #111111 !important
}

#urlbar-background, #searchbar {
    box-shadow: none !important;
}
